@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind components;
@tailwind utilities;

:root {
  --kss-scheibo--maincolor: #1B7AC8;
  --kss-scheibo--maincolor-con: #FFFFFF;
  --kss-font-family: 'Inter', sans-serif;
  --kss-font-color-headings: rgb(23, 23, 23);
  --kss-font-color-text: rgb(102, 102, 102);
}

.kss-scheibo__body {
  @apply overflow-auto m-0;
}

a {
  @apply text-current;
}

.kss-style--header {
  @apply px-8 pb-8;
}

.kss-style--maincolor {
   background-color: var(--kss-scheibo--maincolor);
   color: var(--kss-scheibo--maincolor-con);
}

.kss-style--maincolor.kss-style--colorlist {
  @apply bg-white text-gray-700;
}

.kss-container {
  margin: 0 auto;
  padding-inline: 2rem;
  padding-block: 4rem 8rem;
  min-height: 100vh;
  max-width: 1250px;
}

.kss-nav__menu {
  @apply p-0;
  list-style: none;
}

.kss-nav__menu > li > ul {
  list-style: none;
}

.kss-nav__menu-child {
  @apply p-0 ml-4;
  list-style: none;
}

.kss-nav__menu-item {
  @apply border-gray-300 border-solid border-0 border-t;
}

.kss-nav__menu-link {
  @apply text-current block p-2 no-underline flex flex-row-reverse justify-between cursor-pointer text-base;
}

.kss-nav__menu-link:hover {
  @apply text-current no-underline;
}

.kss-nav__ref {
  @apply pr-2 opacity-75;
}

.kss-main {
  @apply bg-white rounded-t-lg overflow-auto;
}

.kss-title {
  @apply border-none mb-2;

  color: var(--kss-font-color-headings);
  text-shadow: none;
  font-family: var(--kss-font-family);
  font-weight: 600;
  letter-spacing: -0.79px;
}

.kss-title--level-1 {
  @apply text-4xl;
}

.kss-title--level-2 {
  @apply text-3xl;
}

.kss-title__permalink {
  @apply no-underline;
}

.kss-title--onmaincolor {
  color: var(--kss-scheibo--maincolor-con);
}

.kss-style--colorlist .kss-title--onmaincolor {
  @apply text-gray-700;
}

.kss-source,
.kss-markup {
  @apply p-8 bg-gray-100 text-base;
}

.kss-source {
  @apply pt-0;
}

.kss-modifier__example {
  @apply px-3 mb-8 py-10 border-solid border-gray-300 border-0 relative rounded-lg;
}

.kss-modifier__defaultinsertmarkuptext {
  @apply italic text-sm font-normal;
}

.kss-modifier__defaultheader {
  @apply flex justify-between items-center;
}

.kss-modifier__heading {
  @apply font-bold mb-4;
}

.kss-modifier__header {
  @apply flex justify-between items-center opacity-75;
  transition: opacity 0.5s;
}

.kss-modifier__header:hover {
  @apply opacity-100;
}

.kss-modifier__default-name {
  @apply font-bold px-3;
}

.kss-modifier__name {
  @apply text-base;
}

.kss-modifier__insertmarkuptext {
  @apply px-3 italic text-sm;
}

.kss-modifier__wrapper {
  @apply p-8;
}

.kss-section--hidden {
   @apply hidden;
}

.kss-section--depth-1 {
  position: absolute;
  inset-inline-start: -10000px;
  inset-block-start: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.kss-fullscreen-mode .kss-sidebar,
.kss-fullscreen-mode .kss-section:not(.is-fullscreen),
.kss-fullscreen-mode .kss-github {
  @apply hidden;
}

.kss-fullscreen-mode .kss-modifier__example {
  @apply px-0;
}

.kss-guides-mode .kss-modifier__example {
  @apply border-dotted border-gray-700 border p-0;
}

.kss-overview {
  @apply p-8 text-base;
}

.kss-overview h1 {
  @apply text-2xl py-12 px-8 -mx-8 -mt-8 font-normal;
  background-color: var(--kss-scheibo--maincolor);
  color: var(--kss-scheibo--maincolor-con);
}

.kss-overview h2 {
  @apply pt-8 leading-snug;
}

.kss-overview h2:after {
  content: '';
  @apply block w-1/2 border-solid border-0 border-b-4 mt-3;
  border-color: var(--kss-scheibo--maincolor);
}

.kss-overview h4 {
  @apply border-solid border-0 border-l-4 py-3 pl-3;
  border-color: var(--kss-scheibo--maincolor);
}

.kss-overview td {
  @apply px-3;
}

.kss-overview th {
  @apply text-sm;
}

.kss-overview hr {
  @apply border-0 h-px;
  background-color: var(--kss-scheibo--maincolor);
}

.kss-colors {
  @apply flex flex-wrap justify-between p-0 text-base;
  list-style: none;
}

.kss-colors:after {
  content: '';
  flex: auto;
}

.kss-colors__item {
  @apply mb-8 px-2;
  width: calc(50% - 1rem);
}

.kss-colors__colorbox {
  @apply w-full;
  height: 100px;
}

.kss-colors__value {
  @apply mb-2;
}

.kss-colors__variable {
  @apply italic mb-2;
}

.kss-search__input {
  @apply box-border border border-black border-solid w-full p-2 text-base;
}

.kss-search__list {
  @apply bg-gray-100 mt-0 p-2 hidden;
}

.kss-search__list--display {
  @apply block;
}
.kss-search__desc {
  display: none !important;
}

@screen md {

  .kss-container {
    @apply container flex justify-between;
  }

  .kss-nav__menu-child {
    @apply mt-2;
  }

  .kss-nav__menu-item {
    @apply border-none mb-2;
  }

  .kss-nav__menu-link:hover,
  .kss-nav__menu-link--active,
  .kss-nav__menu-child .kss-nav__menu-link:hover {
    @apply border-solid border-0 border-l-4;
    border-color: var(--kss-scheibo--maincolor);
  }

  .kss-sidebar {
    @apply w-1/5;
  }

  .kss-main {
    width: calc(80% - 2rem);
  }
}

@screen lg {

  .kss-colors__item {
    width: calc(25% - 1rem);
  }

  .kss-colors__colorbox {
    height: 150px
  }
}
